.git
.github
.venv
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
*.sqlite3
.env
.env.*
!.env.example
!.env.postdelegate.example
test_media
coverage.xml
.coverage
htmlcov
node_modules
**/node_modules
.DS_Store
.env.postdelegate.local
